<div class="container">
<!-- categories -->

<div *ngIf="listCategories else loading" class="md-6 d-flex flex-wrap listAdmin">

  <!-- cities-->
  <div *ngFor="let cat of listCategories">

    <div class="card cityCard" (click)="onCategoryTrainings(cat.id)">
      <div class="card-body">
        <h4 class="name"> {{cat.name}} </h4>
      </div>
    </div>
  </div>

</div>
  <!-- trainings -->
  <div *ngIf="listTrainings else loading" class="md-6 d-flex flex-wrap listAdmin">
    <!-- product -->
    <div *ngFor="let training of listTrainings">
      <div class="product-content product-wrap">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image">
              <img src="http://localhost:8080/api/download/{{training.imgURL}}" alt="194x228" class="img-responsive"/>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-deatil">
              <p class="price-container">
                <span>{{training.price}} €</span>
              </p>
              <span class="tag1"></span>
            </div>
            <div class="description">
              <h6>{{training.description}}</h6>
            </div>
            <div class="cat-name">
            </div>
            <div class="product-info smart-form">
              <div class="row">
                <div class="sold_stars ml-auto"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                    class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                </div>
                <button class="cart-button" (click)="onAddToCart(training)"> <span class=" add-to-cart">Add to
                    cart</span>
                  <span class="added">Item
                    added</span> <i class="fa fa-plus"></i> <i class="fa fa-circle-thin"></i> <i
                    class="fa fa-check"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>

  <ng-template #loading>
    <div>Aucune donées à afficher !!!</div>
  </ng-template>
</div>